<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-prodotto-heading" jhiTranslate="casaManagerApp.prodotto.home.createOrEditLabel">Create or edit a Prodotto</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!prodotto.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="casaManagerApp.prodotto.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                    <div *ngIf="editForm.get('nome').invalid && (editForm.get('nome').dirty || editForm.get('nome').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="casaManagerApp.prodotto.prezzo" for="field_prezzo">Prezzo</label>
                    <input type="number" class="form-control" name="prezzo" id="field_prezzo"
                           formControlName="prezzo"/>
                    <div *ngIf="editForm.get('prezzo').invalid && (editForm.get('prezzo').dirty || editForm.get('prezzo').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('prezzo').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('prezzo')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="casaManagerApp.prodotto.tipologia" for="field_tipologia">Tipologia</label>
                    <select class="form-control" id="field_tipologia" name="tipologia" formControlName="tipologiaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tipologiaProdottoOption.id" *ngFor="let tipologiaProdottoOption of tipologias; trackBy: trackTipologiaProdottoById">{{tipologiaProdottoOption.nome}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
